html * {
            font-family: "Trebuchet MS", Helvetica, sans-serif !important;

        }

        .boxo {
            color: black;
        }

        html {
            background-color: black;
            background-image: url(../images/backship2.png);
            background-repeat: repeat-x;
            background-size: 20%;
            background-position: 95% 100%;
            background-attachment: fixed;
        }

        .top_menu {
            width: 100%;
            overflow: auto;
            display: flex;
            justify-content: center;
            text-align: center;
            transition: width 0.5s;
        }

        .timerposition {
            color: white;
            position: absolute;
            top: 1%;
            right: 1%;
        }

        .shipcounterdiv {
            color: white;
            position: absolute;
            top: 65%;
            right: 1%;
        }

        .top_menu a {
            width: 5%;
            float: left;
            padding: 12px;
            color: white;
            text-decoration: none;
            font-size: 17px;
            transition: width 0.5s;
            transition: ease 0.5s;
            border-radius: 10px;

        }

        .top_menu a:hover,
        .top_menu a:focus {
            background-color: rgba(0, 0, 0, 0.3);
            width: 6%;
            text-shadow: 15px 10px gray;
            
        }

        .torpedobuttons {
            background: linear-gradient(to right, #c41230 50%,white 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            width: 200px;
            height: 30px;
            border-radius: 10px;
            transition: all ease 0.5s;
            cursor: pointer;
            border: none;
            margin-bottom: 5px;

        }

        .torpedobuttons:hover, .torpedobuttons:focus {
            background-position: left bottom;
          
        }

        .nameinput {
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid black;
            outline-width: 0;
            width: 242px;
            height: 30px;
        }

        .toolbuttonsdiv {
            margin-top: 34%;
            margin-left: 45%;
            width: 50%;

        }

        #fire,
        #readydiv,
        #findplayerdiv,
        #startdiv {
            width: 300px;
        }