    html {
        font-family: "Trebuchet MS", Helvetica, sans-serif !important;
        height: 0%;
    }
    
    body {
        transition: background-color 1s ease;
        background-color: #c41230;
        height: 0%;
    }
    #board {
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        height: 650px;
        overflow-y: scroll;
        display: block;
        border-collapse: collapse;
    }
    th {
        width: 225px !important;
        padding: 15px;
        text-align: center;
        color: #fff;
        font-size: 30px;

    }
    button {
        cursor: pointer;
    }

    td {
        border-top: 1px solid white;
        color: white;
        width: 25%;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        
    }


    body:hover {
        background: #00235d;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
    }

    .top_menu {
        width: 100%;
        overflow: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        transition: width 0.5s;
    }

    .top_menu a {
        width: 5%;
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        transition: width 0.5s;
        transition: ease 0.5s;

    }

    .top_menu a:hover, a:focus {
        color: #13284c;
		background-color: #ced1d4;
        width: 6%;
    }

    .sortbuttons {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 50px;
        transition: color 0.75s;

    }

    .sortbuttons:hover,
    .sortbuttons:focus {
        color: red;
        text-shadow: 2px 2px white;
    }