#boarduser{
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: 25px;
}
.testbody {
    background: url("../images/water.gif");
    background-repeat: none;
    background-size: cover;
}
#boardopp{
    width: 600px;
    height: 600px;
    margin-right: auto;
    margin-left: 25px;
}
.box, .boxo{
    border: 1px solid black;
    height: auto;
    width: auto;
    text-align: center;
    
}
.box {
    border: none;
    color: white;

}
.boxo
{
    cursor: url("../images/crosshair.png") 10 10, auto;
}
table{
    border-collapse: collapse;
}
#user{
    width: 50%;
    height: 50%;
    float:left;
}
#opp{
    width: 50%;
    height: 50%;
    float:right;
}
.topleftthing {
    background: transparent !important;
    background-image: none !important;
    background-color: white !important;
}
.legend
{
    background: transparent !important;
    background-image: none !important;
    background-color: white !important;
    width: 20px;
    /* border-right: 1px solid black; */
}
.letters
{
    background: transparent !important;
    background-image: none !important;
    background-color: white !important;
    width: 20px;
    text-align: center;
    /* border-bottom: 1px solid black !important; */
    font-weight: bold;
}
.ship_placement, .ship_placement_flip
{
    background-color:#13284c; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 12px;
    width: 65%;
}
.ship_placement:hover{
    width: 80%;
    color: black;
    background-color: white;
    transition: all 0.4s ease;
}
.ship_placement_flip:hover{
    width: 80%;
    color: black;
    background-color: white;
    
}
.ship_table
{
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0px 7px !important;
    
}
.shipsleft{
    font-weight: bold;
    font-size: large;
}
.ship_button{
    height: auto;
    width: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
}
.ship_image
{
    margin-left: 25px;
    margin-right: auto;
}
/*sidebar ship select*/
.shipSelectMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: rgba(196, 18, 14, 1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.shipSelectMenu .closebtn {
  position: absolute;
  right: 25px;
  top: 15px;
  margin-left: 50px;
  font-size: 25px;
  text-decoration: none;
  color: #13284c;
  border-bottom: 2px solid black;
}

.openshipsbtn {
    border-bottom: 2px solid black;
}


@media screen and (max-height: 450px) {
  .shipSelectMenu {padding-top: 15px;}
}

.overlap_warning {
  height: 50px;
  width: 0px;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  top: 85%;
  left: 0;
  background-color:#c41230;
  transition: 0.5s;
  white-space: nowrap;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  line-height: 1px;
}
#overlap_text
{
    font-size: 25px;
    
}

